
.Pass{
    /* float: left; */
width:70%;
}

.Pass p{
    margin: 22px auto;
}

.Pass input{
    width: 90%;
    height: 40px;
    border:1px solid ;
    border-radius: 10px;
    border-color: rgb(197, 194, 194);
    margin-top: 10px;
    
}

.Pass input:hover{
    border-color:rgb(53, 155, 238) ;
    box-shadow: 2px 2px 20px -5px rgb(53, 155, 238);
}
